.board-sample{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: block;
}

.board-sample-main{
	position: absolute;
	width: 100%;
	top: 120px;
	text-align: center;
}

.board-sample-text{
	max-width: 144px;
	margin: 24px auto;
}

.launch-image{
	width: 140px;
    height: 216px;
    background-size: 100% auto;
    margin: 0 auto;
	background-image: url('../images/launch-image.png');
}